@model MagicVilla_Web.Models.VM.VillaNumberDeleteVM
<form asp-action="DeleteVillaNumber">

    <div class="container p-3">
        <h1 class="text-primary">Delete Villa Number</h1>
        <hr />
        <input hidden asp-for="VillaNumber.VilaNo" />

        <div class="row">


            <div class="col-2">
                <label asp-for="VillaNumber.VilaNo" class="control-label pt-2" style="font-size:20px">
                    
                    
            </label>
            
            </div>
            <div class="col-10 pb-3">
                <input asp-for="VillaNumber.VilaNo" disabled class="form-control" />
            
                
            </div>

            <div class="col-2">
                <label asp-for="VillaNumber.VilaID" class="control-label pt-2" style="font-size:20px">
            </label>
            
            </div>
            <div class="col-10 pb-3">
                <select asp-for="VillaNumber.VilaID" disabled class="form-select" asp-items="@Model.VillaList">
                    <option disabled selected>Select Villa</option>
                </select>
                
                
            </div>
           
            
            <div class="col-2 ">
                <label asp-for="VillaNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px">
            </label>
            
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="VillaNumber.SpecialDetails" readonly class="form-control" rows =5></textarea>
                
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" class="btn btn-primary form-control">Back To List</a>
            </div>
            <div class="col-5">
                <input type="Submit" value="Delete" class="btn btn-success form-control" />
            </div>
               
        </div>       
    </div>
</form>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
